/* Block new products */
#new-products_block_right ul {list-style-type:none;}
#new-products_block_right li {
	float:left;
	margin-right:20px;
	padding:10px 0;
}
#new-products_block_right li.first {margin-left:30px;}

#new-products_block_right dl {
	list-style-type:none;
}
#new-products_block_right dt {
	padding:10px 0 0 0;
	font-weight:bold;
	font-size:12px;
	color:#333;
}
#new-products_block_right dd,
#new-products_block_right dd a {
	color:#666;
}
#new-products_block_right dd {
	padding:0 0 10px 0;
	border-bottom:1px dotted #ccc;

}
#new-products_block_right dd.last_item {border:none;}
#new-products_block_right dd a.lnk_more {
	padding-right: 10px;
	font-weight:bold;
	color:#0088cc;
	background:url(img/arrow_right_1.png) no-repeat 100% 4px;
}

#new-products_block_right p {
	padding:0;
	text-align:right;
}

#new-products_block_right p.title_block, #new-products_block_right h4  {
	padding:6px 11px;
	text-align:left;
}
#new-products_block_right .button_large {
	padding:0;
	border:none;
	background:none;
	color:#333;
}
#new-products_block_right .button_large:hover {text-decoration:underline}




#new-products_block_right .block_content {
	padding:10px 0 15px 0;
	background: url(images/block_contact_bg.jpg) no-repeat left bottom transparent
}

#new-products_block_right p {
	padding:0 5px 15px 5px;
	font-size: 13px;
	line-height: 18px
}

#new-products_block_right .title_block,
#new-products_block_right h4 {
	padding:6px 11px;
	font-size: 12px;
	line-height: auto
}
#new-products_block_right p.tel {
	margin:0 0 0 60px;
	padding-left: 26px;
	font: bold 11px/20px Arial, Verdana, sans-serif;
	background: url(images/block_contact_pict_tel.png) no-repeat 0 0 transparent
}
#new-products_block_right a {
	display:block;
	margin-left:60px;
	padding:6px 8px;
	font:bold 10px Arial,Verdana,sans-serif;
	color:#fff;
	text-shadow:0 -1px 0 #000;
	text-transform:uppercase;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background:url(images/bloc_contact_a_bg.png) repeat-x 0 0 #000
}
#new-products_block_right a:hover {text-decoration:none}

#new-products_block_right .label {display: none}

